.u104022{
  background-image: url(/files/ian.jpg) !important;
}
.u107157939{
  background-image: url(/files/max.jpg) !important;
}
.u109519315{
  background-image: url(/files/slava.jpg) !important;
}
.you{
  background-image: none !important;
}
