.u104022{
  background-image: url(/files/ian.jpg) !important;
}
.u107157939{
  background-image: url(/files/max.jpg) !important;
}
.u109519315{
  background-image: url(/files/slava.jpg) !important;
}
.u-1237466396{
  background-image: url(/files/vince.jpg) !important;
}
.u1318046688{
  background-image: url(/files/felix.bmp) !important;
}
.u1124332866{
  background-image: url(/files/josh.png) !important;
}
.u111578567{
  background-image: url(/files/manitou.png) !important;
}
.u-557664373{
  background-image: url(https://i.imgur.com/ussqZiT.jpg?1) !important;
}
.you{
  background-image: none !important;
}
